body{

    background-color:cadetblue;
    
}
tr:nth-child(even) {
    background-color: brown
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 5;
    width: 25%;
    height: 100%;
    position: fixed; /* Para dejarla fija a la izquierda */
    overflow: auto; /* Desborde con desplazamiento */
  }
  
  li a {
    display: block; /* Permite dar clic en toda el área */
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #555;
    color: white;
  }

h1{
    
    text-align: center;
    color: darkslateblue;
}
h2{
    color: maroon
}
h3{
    text-align: start;
    color: darkslateblue;
}
#crowe{
    font-style: italic;
    color: brown;
    font-family: 'Times New Roman', Times, serif;
}
.subrayado{
    text-decoration: underline;
}